<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {575.99998474121094, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-12-26 06:38:45 +0000</string>
	<key>Creator</key>
	<string>Aneesh Karve</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>E5DE4FE4-4FAB-41F1-8E62-B36E5A09A938-574-000157852329E7B8</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.49999999092423097, -0.48454082319589453}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.23497190121491829, -0.52656761639962912}</string>
						<key>control2</key>
						<string>{-0.057791166258317039, -0.48290494974219333}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.26519015812107072, -0.35355282322358805}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.57826994729297632, -0.15829092085453933}</string>
						<key>control2</key>
						<string>{-0.57826994729297632, 0.15829092085453977}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.26519015812107072, 0.3535528232235885}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.05779116389088812, 0.48290495121872912}</string>
						<key>control2</key>
						<string>{0.23497190789861233, 0.52656761739643532}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.5, 0.48454082175670665}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.36495616971430422, 0.46312626573096738}</string>
						<key>control2</key>
						<string>{0.23711334820697361, 0.41946359907353203}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.13143415427270133, 0.3535528232235885}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.18164563489920438, 0.15829092085453977}</string>
						<key>control2</key>
						<string>{-0.18164563489920438, -0.15829092085453933}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.13143415427270133, -0.35355282322358805}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.23711334583954469, -0.41946359759699625}</string>
						<key>control2</key>
						<string>{0.36495616398642605, -0.46312626377470201}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.49999999397092854, -0.48454082175670576}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.49999999092423097, -0.48454082319589453}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>481D307B-485F-49DC-AF2D-F0D184351B1C-574-00015873DE026B04</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.27342437352770332, 0.19249411338185851}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.25824817577059811, 0.25105268948387227}</string>
						<key>control2</key>
						<string>{-0.23584093290628605, 0.30591351203575989}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.20620264493476714, 0.35355282322358761}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.084723162762112558, 0.54881572559213687}</string>
						<key>control2</key>
						<string>{0.11223383565633771, 0.54881572559213687}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.2337133178289923, 0.35355282322358761}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.26476264161900165, 0.30364547366191985}</string>
						<key>control2</key>
						<string>{0.28787601150689213, 0.24581263332551728}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.30305342749265662, 0.1841056838074433}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.32061709543783046, 0.1787390786747256}</string>
						<key>control2</key>
						<string>{0.33749519188598676, 0.17284420451742832}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.3535528232235885, 0.16642111908785395}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.54881572559213687, 0.088316358140234641}</string>
						<key>control2</key>
						<string>{0.54881572559213687, -0.038316378543395757}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.3535528232235885, -0.11642113949101507}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.34088143721237962, -0.12148971985321033}</string>
						<key>control2</key>
						<string>{0.32769914003508926, -0.12622937820082214}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.31407224214474816, -0.13064011453385582}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.30037453119476343, -0.21229493707739699}</string>
						<key>control2</key>
						<string>{0.27358824711900187, -0.28945957442106973}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.2337133178289923, -0.35355282322358939}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.11223383565633771, -0.54881572559213865}</string>
						<key>control2</key>
						<string>{-0.084723162762112558, -0.54881572559213865}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.20620264493476714, -0.35355282322358939}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.24465574507849386, -0.29174496152644558}</string>
						<key>control2</key>
						<string>{-0.27093696803228351, -0.21778127060324159}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.28504631379613343, -0.13935732037829851}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.30913428993748227, -0.13265685099879398}</string>
						<key>control2</key>
						<string>{-0.33207731651749395, -0.12501138616666729}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.3535528232235885, -0.11642113949101507}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.54881572559213687, -0.038316378543395757}</string>
						<key>control2</key>
						<string>{-0.54881572559213687, 0.088316358140234641}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.3535528232235885, 0.16642111908785395}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.32864906836969698, 0.17638267204549152}</string>
						<key>control2</key>
						<string>{-0.30177186038074844, 0.18507372589495041}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.27342458873000997, 0.19249428063623242}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.27342437352770332, 0.19249411338185851}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{148.6815185546875, 224.32344055175781}, {51.353169856016819, 51.353169856016812}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>58</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{229.25, 234.01891615722661}, {51.375, 31.962243125259032}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>52</integer>
			<key>Shape</key>
			<string>481D307B-485F-49DC-AF2D-F0D184351B1C-574-00015873DE026B04</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.298039</string>
						<key>g</key>
						<string>0.298039</string>
						<key>r</key>
						<string>0.298039</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>63</integer>
			</dict>
			<key>ID</key>
			<integer>60</integer>
			<key>Points</key>
			<array>
				<string>{255.24153578794702, 185.7060290617506}</string>
				<string>{280.03169250488281, 181.26385471769217}</string>
				<string>{255.24153578794702, 177.53209649871835}</string>
			</array>
			<key>Rotation</key>
			<real>90</real>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.298039</string>
						<key>g</key>
						<string>0.298039</string>
						<key>r</key>
						<string>0.298039</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>62</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>61</integer>
			<key>Points</key>
			<array>
				<string>{248.18496629909231, 177.88452873618851}</string>
				<string>{224.03169250488281, 181.46263859895683}</string>
				<string>{248.18496629909237, 185.90481294301557}</string>
			</array>
			<key>Rotation</key>
			<real>270</real>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.298039</string>
						<key>g</key>
						<string>0.298039</string>
						<key>r</key>
						<string>0.298039</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>63</integer>
				<key>Info</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>62</integer>
			<key>Points</key>
			<array>
				<string>{255.24153578794702, 185.7060290617506}</string>
				<string>{251.87150364585287, 209.85827063543604}</string>
				<string>{248.18496629909231, 185.97374189924628}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.298039</string>
						<key>g</key>
						<string>0.298039</string>
						<key>r</key>
						<string>0.298039</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>63</integer>
			<key>Points</key>
			<array>
				<string>{255.24153578794702, 177.53209649871835}</string>
				<string>{251.91022781611255, 153.99999999999864}</string>
				<string>{248.18496629909231, 177.88452873618851}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.298039</string>
						<key>g</key>
						<string>0.298039</string>
						<key>r</key>
						<string>0.298039</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{160.22215238603866, 158.35713410558782}, {28.271924019886583, 45.330516815185547}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>16</integer>
			<key>Rotation</key>
			<real>315</real>
			<key>Shape</key>
			<string>E5DE4FE4-4FAB-41F1-8E62-B36E5A09A938-574-000157852329E7B8</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.298039</string>
						<key>g</key>
						<string>0.298039</string>
						<key>r</key>
						<string>0.298039</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>ShowsGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>4</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image3.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-12-26 07:31:49 +0000</string>
	<key>Modifier</key>
	<string>Aneesh Karve</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{611.99998474121094, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{435, 6}, {710, 872}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{141.5, 105.25}, {143.75, 183.25}}</string>
		<key>Zoom</key>
		<real>4</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>4</real>
				<real>2</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
